//=============================================================================
//== GENERAL
//=============================================================================

//== ALL

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//== HTML

html {
    font-size: 10px;
    scroll-behavior: smooth;
}


//== BODY

body {
    font-family: $ff-1;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

//== IMG

img {
    max-width: 100%;
}

//== CONTAINER

.container {
    width: 100%;
    max-width: 126rem;
    margin: auto;
    padding: 0 2rem;

    @include breakpoint(xl) {
        padding: 0 2rem;
    }
}