//=============================================================================
//== DROPDOWN
//=============================================================================

.dropdown {
    background-color: $c-grey-light;
    border-radius: 1rem;
    overflow: hidden;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $c-1;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;

        h2 {
            font-size: 1.3rem;
            color: $c-white;
        }

        &::after {
            display: inline-block;
            width: 1.44rem;
            height: .78rem;
            background-image: url("/src/assets/img/arrow-down.png");
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 0.3s ease-in-out;
            content: "";
        }
    }

    &__content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 2rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        font-size: 1.2rem;
        line-height: 1.7rem;
        transition: max-height 0.2s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
    
        ul {
            list-style: none;
        }
    }

    &.open {
        .dropdown__header {
            &::after {
                transform: rotate(180deg);
            }
        }

        .dropdown__content {
            max-height: 500px;
            opacity: 1;
            padding: 2rem;
        }
    }

    @include breakpoint(md) {
        &__header {
            h2 {
                font-size: 1.8rem;
            }

            &::after {
                width: 2.4rem;
                height: 1.3rem;
            }
        }

        &__content {
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
    }
}