/*
How to use it:

@include breakpoint(lg) {
    .class {

    }
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 126rem;
  margin: auto;
  padding: 0 2rem;
}
@media (min-width: 1280px) {
  .container {
    padding: 0 2rem;
  }
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 2.6rem;
  font-weight: 500;
  color: #FF6060;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
}
.navbar {
  padding: 2rem 0 2.5rem 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo img {
  max-width: 14.5rem;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li:not(:last-child) {
  margin-right: 2.6rem;
}
.navbar ul li a {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar ul li a.active {
  text-decoration: underline;
}
.navbar ul li a:hover {
  color: #FF6060;
}
@media (min-width: 768px) {
  .navbar {
    padding: 4.5rem 0 5rem 0;
  }
  .navbar__logo img {
    max-width: 21rem;
  }
  .navbar ul li:not(:last-child) {
    margin-right: 6rem;
  }
  .navbar ul li a {
    font-size: 2.4rem;
    text-transform: capitalize;
  }
}

.banner {
  margin-bottom: 2rem;
}
.banner .content {
  position: relative;
  width: 100%;
  height: 11rem;
  border-radius: 2.5rem;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.banner .content::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000;
  mix-blend-mode: darken;
  opacity: 0.6;
  content: "";
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
}
@media (min-width: 992px) {
  .banner {
    margin-bottom: 4rem;
  }
  .banner .content {
    height: 22.3rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}

.grid {
  margin-bottom: 2.5rem;
}
.grid .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  border-radius: 2.5rem;
  overflow: hidden;
}
.grid .content .flat {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  background: #FF6060;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
}
.grid .content .flat h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
}
.grid .content .flat::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
  content: "";
}
@media (min-width: 768px) {
  .grid {
    margin-bottom: 5rem;
  }
  .grid .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    padding: 5rem;
    background: #F6F6F6;
  }
}
@media (min-width: 992px) {
  .grid .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.flat {
  position: relative;
  overflow: hidden;
}
.flat img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  object-fit: cover;
}
.flat-link {
  text-decoration: none;
}
.flat:hover img {
  transform: scale(1.1);
}

.dropdown {
  background-color: #F6F6F6;
  border-radius: 1rem;
  overflow: hidden;
}
.dropdown__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
.dropdown__header h2 {
  font-size: 1.3rem;
  color: #fff;
}
.dropdown__header::after {
  display: inline-block;
  width: 1.44rem;
  height: 0.78rem;
  background-image: url("/src/assets/img/arrow-down.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.3s ease-in-out;
  content: "";
}
.dropdown__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.2rem;
  line-height: 1.7rem;
  transition: max-height 0.2s ease-in-out, opacity 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.dropdown__content ul {
  list-style: none;
}
.dropdown.open .dropdown__header::after {
  transform: rotate(180deg);
}
.dropdown.open .dropdown__content {
  max-height: 500px;
  opacity: 1;
  padding: 2rem;
}
@media (min-width: 768px) {
  .dropdown__header h2 {
    font-size: 1.8rem;
  }
  .dropdown__header::after {
    width: 2.4rem;
    height: 1.3rem;
  }
  .dropdown__content {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

.flat-overview header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flat-overview .subtitle {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.flat-overview .tags-container {
  margin-bottom: 1.5rem;
}
.flat-overview .tag {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
  padding: 0.2rem 3rem;
  background: #FF6060;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 1rem;
}
.flat-overview .ratings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.flat-overview .owner {
  order: 2;
  display: flex;
  align-items: center;
}
.flat-overview .owner__pic {
  flex-shrink: 0;
  align-self: center;
  margin-left: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 6rem;
  overflow: hidden;
}
.flat-overview .owner__pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flat-overview .owner__name {
  color: #FF6060;
  font-size: 1.2rem;
  font-weight: 500;
}
.flat-overview .ratings {
  order: 1;
}
.flat-overview .ratings .star {
  display: inline-block;
  width: 1.3rem;
  height: 1.25rem;
}
.flat-overview .ratings .star:not(:last-child) {
  margin-right: 0.4rem;
}
.flat-overview .description {
  margin-bottom: 3rem;
}
.flat-overview .description .container {
  padding: 0;
}
.flat-overview .description .container .content {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr;
}
.flat-overview .flat-infos {
  margin-bottom: 2rem;
}
.flat-overview .flat-infos .content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
.flat-overview__carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 25.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}
.flat-overview .flat-overview__image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.flat-overview .flat-overview__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.flat-overview .flat-overview__image.active {
  opacity: 1;
}
.flat-overview .flat-overview__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: white;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.flat-overview .flat-overview__button:hover {
  transform: translateY(-50%) scale(1.2);
}
.flat-overview .flat-overview__button--prev {
  left: 1rem;
  background-image: url("/src/assets/img/arrow-previous.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.flat-overview .flat-overview__button--next {
  right: 1rem;
  background-image: url("/src/assets/img/arrow-next.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.flat-overview .flat-overview__button .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  overflow: hidden;
}
.flat-overview .flat-overview__pagination {
  position: absolute;
  bottom: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.8rem;
}
.flat-overview__pagination {
  position: absolute;
  bottom: 2.4rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .flat-overview header {
    flex-direction: row;
  }
  .flat-overview .titles-and-tags {
    margin-right: 1.5rem;
  }
  .flat-overview .titles-and-tags .subtitle {
    font-size: 1.8rem;
  }
  .flat-overview .tag {
    margin-bottom: 2.4rem;
    padding: 0.3rem 4rem;
    font-size: 1.4rem;
  }
  .flat-overview .ratings-container {
    flex-direction: column;
    align-items: flex-end;
  }
  .flat-overview .owner {
    order: 1;
  }
  .flat-overview .owner__pic {
    width: 6rem;
    height: 6rem;
  }
  .flat-overview .owner__name {
    font-size: 1.8rem;
  }
  .flat-overview .ratings {
    order: 2;
    margin-top: 1.5rem;
    margin-bottom: auto;
  }
  .flat-overview .ratings .star {
    width: 2.5rem;
    height: 2.4rem;
  }
  .flat-overview .ratings .star:not(:last-child) {
    margin-right: 1rem;
  }
  .flat-overview .description {
    margin-bottom: 5rem;
  }
  .flat-overview .description .container .content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 6rem;
  }
  .flat-overview .flat-infos {
    margin-bottom: 6rem;
  }
  .flat-overview .flat-infos .content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 6rem;
  }
  .flat-overview .flat-infos .content .dropdown {
    height: fit-content;
  }
  .flat-overview__carousel {
    height: 41.5rem;
    margin-bottom: 3rem;
  }
  .flat-overview .flat-overview__button {
    width: 6rem;
    height: 6rem;
  }
}

.section-about {
  margin-bottom: 2rem;
}
.section-about .content {
  display: grid;
  row-gap: 2rem;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .section-about {
    margin-bottom: 5rem;
  }
  .section-about .content {
    row-gap: 3rem;
    column-gap: 6rem;
  }
}

.page-not-found {
  text-align: center;
}
.page-not-found h1 {
  padding: 8rem 0;
  color: #FF6060;
  font-size: 9.6rem;
  font-weight: 700;
}
.page-not-found .warning {
  color: #FF6060;
  font-size: 1.8rem;
  font-weight: 500;
}
.page-not-found .backtohome {
  padding: 8rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .page-not-found h1 {
    padding: 4rem 0;
    font-size: 20rem;
  }
  .page-not-found .warning {
    font-size: 2.4rem;
  }
  .page-not-found .backtohome {
    padding: 7rem 0;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

footer {
  padding: 6rem 2rem 2rem 2rem;
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
footer .logo {
  max-width: 100%;
  margin-bottom: 2rem;
}
footer .copyright {
  max-width: 100%;
  width: 135px;
  margin: auto;
}
@media (min-width: 768px) {
  footer {
    font-size: 2.4rem;
  }
  footer .copyright {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
