/*
How to use it:

@include breakpoint(lg) {
    .class {

    }
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

.container {
  width: 100%;
  max-width: 126rem;
  margin: auto;
  padding: 0 2rem;
}
@media (min-width: 1280px) {
  .container {
    padding: 0 2rem;
  }
}

.navbar {
  padding: 2rem 0 2.5rem 0;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo img {
  max-width: 14.5rem;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li:not(:last-child) {
  margin-right: 2.6rem;
}
.navbar ul li a {
  color: #000;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
}
.navbar ul li a.active {
  text-decoration: underline;
}
.navbar ul li a:hover {
  color: #FF6060;
}
@media (min-width: 768px) {
  .navbar {
    padding: 4.5rem 0 5rem 0;
  }
  .navbar__logo img {
    max-width: 21rem;
  }
  .navbar ul li:not(:last-child) {
    margin-right: 6rem;
  }
  .navbar ul li a {
    font-size: 2.4rem;
  }
}

.banner {
  margin-bottom: 2rem;
}
.banner .content {
  position: relative;
  width: 100%;
  height: 11rem;
  border-radius: 2.5rem;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.banner .content::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000;
  mix-blend-mode: darken;
  opacity: 0.6;
  content: "";
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
}
@media (min-width: 992px) {
  .banner {
    margin-bottom: 4rem;
  }
  .banner .content {
    height: 22.3rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}

.grid {
  margin-bottom: 2.5rem;
}
.grid .content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  border-radius: 2.5rem;
  overflow: hidden;
}
.grid .content .flat {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  background: #FF6060;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
}
.grid .content .flat h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
}
.grid .content .flat::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent);
  content: "";
}
@media (min-width: 768px) {
  .grid {
    margin-bottom: 5rem;
  }
  .grid .content {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    padding: 5rem;
    background: #F6F6F6;
  }
}
@media (min-width: 992px) {
  .grid .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.flat-link {
  text-decoration: none;
}

footer {
  padding: 6rem 2rem 2rem 2rem;
  background: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
footer .logo {
  max-width: 100%;
  margin-bottom: 2rem;
}
footer .copyright {
  max-width: 100%;
  width: 135px;
  margin: auto;
}
@media (min-width: 768px) {
  footer {
    font-size: 2.4rem;
  }
  footer .copyright {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
